@charset "UTF-8";
/* 796px까지 대응되는 중... */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body * {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
  cursor: none;
}

img {
  display: block;
}

.title {
  font-family: "DMSerifDisplay", sans-serif;
}

.font {
  font-family: "Hanuman", sans-serif;
}

h3 {
  font-size: 100px;
}
@media only screen and (min-width: 300px) and (max-width: 1600px) {
  h3 {
    font-size: 80px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h3 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h3 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 50px;
  }
}

h4 {
  font-size: 60px;
  font-style: italic;
  font-family: "NotoSans", sans-serif;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  h4 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  h4 {
    font-size: 44px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  h4 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  h4 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h4 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  h4 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  h4 {
    font-size: 24px;
  }
}

body {
  background-color: #FAE8E1;
  overflow-x: hidden;
  width: calc(100% + 7px);
  cursor: none;
}
body .wrap {
  position: relative;
  /*    .bg1 {
    width: 100%;
    position: absolute;
    top: 12vw;

    @include responsiveWEB(tabpc) {
      top: 22vw;
    }

    @include responsiveWEB(tabpc1) {
      top: 27vw;
    }

    @include responsiveWEB(tabpc2) {
      top: 32vw;
    }

    @include responsiveWEB(tabpc3) {
      top: 36vw;
    }

    @include responsiveWEB(tab) {
      top: 12vw;
    }

    @include responsiveWEB(tab1) {
      top: 10vw;
    }

    @include responsiveWEB(tab2) {
      top: 24vw;
    }

    @include responsiveWEB(mobtb) {
      top: 30vw;
    }
  } */
  /* .bg3 {
    width:74vw; margin:0 auto;
    position: absolute;
    bottom:13.6vw; right:5.8vw;
  } */
}
body .wrap .loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #050505 no-repeat 0 100%;
  z-index: 9999;
  display: grid;
  place-items: center;
}
body .wrap .loading h3 {
  transform: translateY(-50%);
}
body .wrap .loading.remove {
  display: none;
}
body .wrap header {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 8px auto;
  position: sticky;
  top: 20px;
  z-index: 99;
}
body .wrap header .logo a {
  text-indent: -9999px;
  width: 219px;
  height: 57px;
  background: url("../images/logo.png") no-repeat 0/contain;
}
@media only screen and (max-width: 1024px) {
  body .wrap header .logo a {
    width: 132px;
    height: 38px;
    background: url("../images/logo_resize.png") no-repeat 0/contain;
  }
}
body .wrap header .icons {
  margin-left: auto;
  display: flex;
  text-indent: -9999px;
  align-items: center;
  gap: 20px;
}
body .wrap header .icons a {
  padding: 0 6px 0;
}
body .wrap header .icons .darkBtn {
  width: 51px;
  height: 48px;
  background: url("../images/icon_dark.png") no-repeat 50%/cover;
}
body .wrap header .icons .lightBtn {
  width: 61px;
  height: 32px;
  background: url("../images/icon_light.png") no-repeat 0/contain;
  display: none;
}
body .wrap header .icons .menuBtn {
  width: 37px;
  height: 30px;
  background: url("../images/icon_menu_dark.png") no-repeat 50%/cover;
}
@media only screen and (max-width: 1024px) {
  body .wrap header .icons .menuBtn {
    width: 25px;
    height: 19px;
    background: url("../images/icon_menu_resize.png") no-repeat 0/contain;
  }
}
body .wrap .bg {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 12vw;
}
@keyframes drowing {
  100% {
    stroke-dashoffset: 0;
  }
}
body .wrap .bg svg {
  width: calc(73% - 7px);
}
body .wrap .bg svg #mainpath {
  stroke-dasharray: var(--length);
  stroke-dashoffset: var(--length);
  animation: drowing 1.6s forwards;
  animation-delay: 1.2s;
}
body .wrap .bg1 {
  width: 100%;
  position: absolute;
  top: 30.2vw;
}
body .wrap .bg1 svg {
  width: calc(100% - 7px);
}
body .wrap .bg2 {
  width: 100%;
  position: absolute;
  top: 314vw;
  display: flex;
  justify-content: center;
}
body .wrap .bg2 svg {
  width: 84%;
}

.wrap main h2 {
  width: 90vw;
  margin: 790px auto 0;
  font-size: 120px;
}
@media only screen and (min-width: 300px) and (max-width: 1600px) {
  .wrap main h2 {
    font-size: 90px;
    margin: 660px auto 0;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .wrap main h2 {
    font-size: 120px;
    margin: 760px auto 0;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main h2 {
    font-size: 100px;
    margin: 700px auto 0;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main h2 {
    font-size: 88px;
    margin: 600px auto 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main h2 {
    font-size: 70px;
    margin: 560px auto 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrap main h2 {
    font-size: 60px;
    margin: 300px auto 0;
  }
}
.wrap main .work {
  margin: 70vw 0 0 10vw;
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .wrap main .work {
    margin: 64vw 0 0 10vw;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .work {
    margin: 63vw 0 0 10vw;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap main .work {
    margin: 64vw 0 0 10vw;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .work {
    margin: 60vw 0 0 10vw;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .work {
    margin: 60vw 0 0 10vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .work {
    margin: 68vw 0 0 10vw;
  }
}
@media only screen and (max-width: 767px) {
  .wrap main .work {
    margin: 60vw 0 0 10vw;
  }
}
.wrap main .work .wrap {
  display: grid;
  grid-template-columns: repeat(3, 22vw);
  grid-template-rows: repeat(17, 2vw);
  row-gap: 50px;
  column-gap: 30px;
  position: relative;
  top: -6vw;
  left: 6vw;
  z-index: 9;
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .work .wrap {
    grid-template-rows: repeat(17, 2vw);
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .work .wrap {
    grid-template-rows: repeat(17, 2vw);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .work .wrap {
    grid-template-rows: repeat(17, 1.6vw);
  }
}
@media only screen and (min-width: 768px) and (max-width: 928px) {
  .wrap main .work .wrap {
    grid-template-rows: repeat(17, 1vw);
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .wrap main .work .wrap {
    grid-template-rows: repeat(17, 0.4vw);
  }
}
@media only screen and (max-width: 767px) {
  .wrap main .work .wrap {
    grid-template-rows: repeat(17, 0.3vw);
  }
}
.wrap main .work .wrap .item {
  position: relative;
  overflow: hidden;
}
.wrap main .work .wrap .item:nth-child(1) {
  grid-row: 3/10;
}
.wrap main .work .wrap .item:nth-child(2) {
  grid-row: 2/9;
}
.wrap main .work .wrap .item:nth-child(3) {
  grid-row: 1/8;
}
.wrap main .work .wrap .item:nth-child(4) {
  grid-row: 10/17;
}
.wrap main .work .wrap .item:nth-child(5) {
  grid-row: 9/16;
}
.wrap main .work .wrap .item:nth-child(6) {
  grid-row: 8/15;
}
.wrap main .work .wrap .item:hover > .pg {
  left: 0;
}
.wrap main .work .wrap .item :is(.img, .pg3) .txt {
  height: 100%;
  display: grid;
  place-items: center;
}
.wrap main .work .wrap .item :is(.img, .pg3) .txt h6 {
  font-size: 2.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.wrap main .work .wrap .item .img {
  background-color: #ddd;
  height: 100%;
}
.wrap main .work .wrap .item .pg {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: left 0.4s;
}
.wrap main .work .wrap .item .pg1 {
  background-color: #fff;
}
.wrap main .work .wrap .item .pg2 {
  background-color: #FFA41B;
  transition-delay: 0.1s;
}
.wrap main .work .wrap .item .pg3 {
  background-color: red;
  transition-delay: 0.2s;
}

.wrap main .skills {
  margin: 12vw 0 0 10vw;
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .wrap main .skills {
    margin: 12vw 0 0 10vw;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .skills {
    margin: 11vw 0 0 10vw;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap main .skills {
    margin: 9vw 0 0 10vw;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .skills {
    margin: 10vw 0 0 10vw;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .skills {
    margin: 8vw 0 0 10vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .skills {
    margin: 12vw 0 0 10vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 928px) {
  .wrap main .skills {
    margin: 18vw 0 0 10vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .wrap main .skills {
    margin: 10vw 0 0 10vw;
  }
}
.wrap main .skills .list li {
  display: grid;
  width: 1300px;
  grid-template-columns: 4.5fr 5.5fr;
  grid-template-rows: 180px;
  align-items: center;
  border-bottom: 1px solid #000;
  margin-left: 100px;
}
.wrap main .skills .list li:hover > h4 {
  color: #FFA41B;
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .wrap main .skills .list li {
    grid-template-rows: 160px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .skills .list li {
    max-width: 1200px;
    min-width: 1000px;
    grid-template-rows: 140px;
    margin-left: 80px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap main .skills .list li {
    max-width: 1000px;
    min-width: 800px;
    grid-template-rows: 140px;
    margin-left: 80px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .skills .list li {
    max-width: 1000px;
    min-width: 700px;
    grid-template-rows: 140px;
    margin-left: 60px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .skills .list li {
    max-width: 800px;
    min-width: 700px;
    grid-template-rows: 40px 80px;
    grid-template-columns: 1fr;
    padding: 10px 0;
    margin-left: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .skills .list li {
    max-width: 760px;
    min-width: 600px;
    grid-template-rows: 100px;
    padding: 10px 0;
    margin-left: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 928px) {
  .wrap main .skills .list li {
    max-width: 700px;
    min-width: 500px;
    grid-template-rows: 100px;
    padding: 10px 0;
    margin-left: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .wrap main .skills .list li {
    max-width: 600px;
    min-width: 500px;
    grid-template-rows: 40px 80px;
    grid-template-columns: 1fr;
    padding: 10px 0;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .wrap main .skills .list li {
    max-width: 600px;
    min-width: 500px;
    grid-template-rows: 30px 100px;
    grid-template-columns: 1fr;
    padding: 10px 0;
    margin-left: 30px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 1600px) {
  .wrap main .skills .list li:last-child {
    border: none;
  }
}
.wrap main .skills .list li h4 span {
  font-size: 60px;
  font-style: italic;
  font-family: "NotoSans", sans-serif;
  display: inline-block;
  width: 154px;
  margin-right: 8px;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .skills .list li h4 span {
    font-size: 50px;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap main .skills .list li h4 span {
    font-size: 44px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .skills .list li h4 span {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .skills .list li h4 span {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .skills .list li h4 span {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .wrap main .skills .list li h4 span {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .wrap main .skills .list li h4 span {
    font-size: 30px;
  }
}
.wrap main .skills .list li h4 span:nth-child(1), .wrap main .skills .list li h4 span:nth-child(3) {
  position: relative;
  top: -20px;
}
@media only screen and (min-width: 300px) and (max-width: 1600px) {
  .wrap main .skills .list li h4 span:nth-child(1), .wrap main .skills .list li h4 span:nth-child(3) {
    top: 0;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .skills .list li h4 span:nth-child(1), .wrap main .skills .list li h4 span:nth-child(3) {
    top: -20px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap main .skills .list li h4 span:nth-child(1), .wrap main .skills .list li h4 span:nth-child(3) {
    top: -20px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .skills .list li h4 span:nth-child(1), .wrap main .skills .list li h4 span:nth-child(3) {
    top: -20px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .skills .list li h4 span:nth-child(1), .wrap main .skills .list li h4 span:nth-child(3) {
    top: 0;
  }
}
.wrap main .skills .list li h4 span:nth-child(2) {
  white-space: break-spaces;
  line-height: 50px;
  position: relative;
  left: 6px;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .skills .list li h4 span:nth-child(2) {
    left: 0;
    top: 40px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 1600px) {
  .wrap main .skills .list li h4 span:nth-child(2) {
    left: -20px;
    top: 38px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .skills .list li h4 span:nth-child(2) {
    left: 0;
    top: 38px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .skills .list li h4 span:nth-child(2) {
    left: 0;
    top: 30px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .skills .list li h4 span:nth-child(2) {
    left: -30px;
    top: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .skills .list li h4 span:nth-child(2) {
    left: 0;
    top: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .wrap main .skills .list li h4 span:nth-child(2) {
    left: -30px;
    top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .wrap main .skills .list li h4 span:nth-child(2) {
    left: -30px;
    top: 0;
  }
}
.wrap main .skills .list li .content {
  padding: 0 0 0 30px;
}
.wrap main .skills .list li .content p {
  font-size: 18px;
  font-weight: 400;
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .skills .list li .content p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .skills .list li .content p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .wrap main .skills .list li .content p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .wrap main .skills .list li .content p {
    font-size: 12px;
  }
}
.wrap main .skills .list li .content p:nth-child(2) {
  margin: 12px 0;
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .wrap main .skills .list li .content p:nth-child(2) {
    margin: 8px 0;
  }
}

.wrap main .about {
  margin: 36vw 0 0 16vw;
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .wrap main .about {
    margin: 26vw 0 0 16vw;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .about {
    margin: 17vw 0 0 16vw;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap main .about {
    margin: 14vw 0 0 16vw;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .about {
    margin: 18vw 0 0 16vw;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .about {
    margin: 20vw 0 0 16vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .about {
    margin: 10vw 0 0 16vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .wrap main .about {
    margin: 2vw 0 0 8vw;
  }
}
.wrap main .about h5 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 28px;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .about h5 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap main .about h5 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .about h5 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .about h5 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .about h5 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .about h5 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .wrap main .about h5 {
    font-size: 14px;
  }
}
.wrap main .about p {
  font-size: 24px;
  margin-top: 24px;
  line-height: 1.4;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .about p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap main .about p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .about p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .about p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .about p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .wrap main .about p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .wrap main .about p {
    font-size: 12px;
  }
}

.wrap main .contact {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  margin-top: 24vw;
  width: 60vw;
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .wrap main .contact {
    margin-top: 20vw;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .contact {
    margin-top: 14vw;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap main .contact {
    margin-top: 14vw;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .contact {
    margin-top: 10vw;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .contact {
    margin-top: 22vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .contact {
    margin-top: 6vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .wrap main .contact {
    margin-top: 20vw;
  }
}
.wrap main .contact .title {
  text-align: right;
}
.wrap main .contact .border {
  border: 2px solid #000;
  border-radius: 30px;
  display: flex;
  padding: 80px 100px 60px;
  justify-content: space-between;
  background-color: #FAE8E1;
  align-items: center;
  /* 1600~1200px 까지 */
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .wrap main .contact .border {
    padding: 60px 100px 40px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 1600px) {
  .wrap main .contact .border {
    justify-content: center;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .contact .border {
    padding: 40px 100px 40px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap main .contact .border {
    padding: 40px 100px 20px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .contact .border {
    padding: 40px 100px 20px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .contact .border {
    padding: 20px 40px 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .contact .border {
    padding: 10px 0 20px;
  }
}
.wrap main .contact .border .emailForm label {
  font-size: 20px;
}
@media only screen and (min-width: 300px) and (max-width: 1600px) {
  .wrap main .contact .border .emailForm label {
    font-size: 20px;
    display: block;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .contact .border .emailForm label {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .contact .border .emailForm label {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .wrap main .contact .border .emailForm label {
    display: none;
  }
}
.wrap main .contact .border .emailForm input {
  font-size: 16px;
  padding: 8px;
  width: 348px;
  border: none;
  margin: 10px 0 0 16px;
  background-color: transparent;
  border-bottom: 1px solid #000;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .contact .border .emailForm input {
    font-size: 16px;
  }
}
.wrap main .contact .border .emailForm #userEmail {
  margin-bottom: 30px;
}
.wrap main .contact .border .emailForm textarea {
  font-size: 16px;
  padding: 8px;
  width: 348px;
  margin: 0 0 0 52px;
  border-radius: 10px;
  line-height: 1.6;
  background-color: transparent;
  vertical-align: top;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .contact .border .emailForm textarea {
    margin: 20px 0 0 20px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap main .contact .border .emailForm textarea {
    margin: 20px 0 0 20px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .contact .border .emailForm textarea {
    margin: 20px 0 0 20px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .contact .border .emailForm textarea {
    margin: 20px 0 0 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .contact .border .emailForm textarea {
    margin: 20px 0 0 20px;
  }
}
.wrap main .contact .border .emailForm button {
  font-size: 18px;
  margin: 20px 0 0 132px;
  padding: 6px 18px 2px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px #000 solid;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap main .contact .border .emailForm button {
    margin: 20px 0 0 24px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .wrap main .contact .border .emailForm button {
    margin: 20px 0 0 24px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap main .contact .border .emailForm button {
    margin: 20px 0 0 24px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap main .contact .border .emailForm button {
    margin: 20px 0 0 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap main .contact .border .emailForm button {
    margin: 20px 0 0 20px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 1600px) {
  .wrap main .contact .border .kakao {
    display: none;
  }
}
.wrap main .contact .border .kakao a {
  max-width: 250px;
  max-height: 250px;
}
.wrap main .contact .border .kakao a img {
  width: 100%;
  height: 100%;
}
.wrap main .contact .border .kakao figcaption {
  font-size: 24px;
  margin-top: 18px;
  text-align: center;
}

.wrap footer {
  margin: 62vw 0 2vw 2vw;
  display: flex;
  gap: 30px;
  font-size: 18px;
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .wrap footer {
    margin: 100vw 0 2vw 2vw;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .wrap footer {
    margin: 56vw 0 2vw 2vw;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .wrap footer {
    margin: 58vw 0 2vw 2vw;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  .wrap footer {
    margin: 50vw 0 2vw 2vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrap footer {
    margin: 60vw 0 2vw 2vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 820px) {
  .wrap footer {
    margin: 20vw 0 2vw 2vw;
  }
}
.wrap footer ul {
  display: flex;
  gap: 10px;
}
.wrap footer ul li a {
  font-size: 18px;
}
.wrap footer ul li a:hover {
  color: #FFA41B;
}

/* @mixin textGradient(direction, color1, color2, color3) {
  background: -webkit-linear-gradient(direction, color1, color2, color3);
} */
.wrap .menuPage {
  width: 100%;
  height: 100vh;
  background-color: #050505;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.wrap .menuPage .topline {
  width: 90vw;
  display: flex;
  align-items: center;
  margin: 20px auto;
}
.wrap .menuPage .topline .logo a {
  text-indent: -9999px;
  width: 219px;
  height: 57px;
  background: url("../images/logo_white.png") no-repeat 0/contain;
}
.wrap .menuPage .topline .menuClose {
  margin-left: auto;
  padding: 10px 10px 6px;
}
.wrap .menuPage .topline .menuClose:hover {
  background-color: #FFA41B;
}
.wrap .menuPage ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14%;
}
.wrap .menuPage ul li a {
  font-size: 6rem;
  font-weight: 500;
  color: transparent;
  background: linear-gradient(90deg, #FAE8E1 0%, #FFA41B 45%, #FB6363 65%) no-repeat 0 100%;
  background-size: 100% 0;
  -webkit-text-stroke: 1px #fff;
  -webkit-background-clip: text;
  transition: background-size 0.4s ease-in;
  margin-bottom: 0.8vw;
}
.wrap .menuPage ul li a:hover {
  background-size: 100% 100%;
  -webkit-text-stroke: 1px transparent;
}
.wrap .menuPage.none {
  display: none;
}
.wrap .menuPage.active {
  display: block;
}

body.dark {
  background-color: #222;
}
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark p,
body.dark label,
body.dark input,
body.dark button,
body.dark figcaption,
body.dark ::placeholder,
body.dark textarea {
  color: #fff;
}
body.dark .wrap header h1 a {
  background: url("../images/logo_white.png") no-repeat 0/contain;
}
body.dark .wrap header .lightBtn {
  display: block;
}
body.dark .wrap header .darkBtn {
  display: none;
}
body.dark .wrap header .menuBtn {
  width: 37px;
  height: 30px;
  background: url("../images/icon_menu_white.png") no-repeat 50%/cover;
}
@media only screen and (max-width: 1024px) {
  body.dark .wrap header .menuBtn {
    width: 25px;
    height: 19px;
    background: url("../images/icon_menu_resize_white.png") no-repeat 0/contain;
  }
}
body.dark .wrap :is(.bg1, .bg2, .bg) svg path {
  stroke: #fff;
}
body.dark .wrap main .skills .list li {
  border-color: #fff;
}
body.dark .wrap main .contact .border {
  border-color: #fff;
  background-color: #222;
}
body.dark .wrap main .contact .border .emailForm input {
  border-color: #fff;
}
body.dark .wrap main .contact .border .emailForm textarea {
  border-color: #fff;
  outline: none;
}
body.dark .wrap main .contact .border .emailForm button {
  border-color: #fff;
}
body.dark .wrap footer ul li a {
  color: #fff;
}
body.dark .wrap footer ul li a:hover {
  color: #FFA41B;
}